[Unit]
Description=Start myclock service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5

# set User to find locally installed python modules
User=paul

# Execute commands before starting service
ExecStartPre=-cp /var/log/myclock.stdout \
		/var/log/myclock.stdout.old"
ExecStartPre=-cp /var/log/myclock.stderr \
		/var/log/myclock.stderr.old"

# ExecStart for virtual env
ExecStart=/bin/bash -c "${HOME}/.virtualenvs/myclock/bin/python -u\
	 ${HOME}/myprojects/myclock/myclock.py -b 0"

# ExecStart for non virtual env
#ExecStart=/usr/bin/python -u\
#	 ${HOME}/myprojects/myclock/myclock.py -b 0"

# Define stdout and stderr
StandardOutput=truncate:/var/log/myclock.stdout
StandardError=truncate:/var/log/myclock.stderr

[Install]
WantedBy=multi-user.target
