# uses systemd-time-wait-sync.service 
#sudo systemctl enable systemd-time-wait-sync.service
#sudo systemctl start systemd-time-wait-sync.service


[Unit]
Description=Start clockwaiting service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5

# set User to find locally installed python modules
User=paul

# signal to kill myclock
KillSignal=SIGTERM

WorkingDirectory=/home/paul/myprojects/myclock

# Set PATH for virtual environment
Environment="PATH=/home/paul/.virtualenvs/myclock/bin:/home/paul/bin"


# ExecStart for virtual env
ExecStart=python -u myclockwaiting.py

# ExecStart for non virtual env
#ExecStart=/usr/bin/python -u\

# Define stdout and stderr
StandardOutput=file:/home/paul/myprojects/myclock/clockwaiting.stdout
StandardError=file:/home/paul/myprojects/myclock/clockwaiting.stderr

[Install]
WantedBy=multi-user.target
