[Unit]
Description=Start myclock service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5

# set User to find locally installed python modules
User=paul

# Execute commands before starting service
ExecStartPre=-cp -b /home/paul/myprojects/myclock/myclock.stdout \
		/home/paul/myprojects/myclock/myclock.stdout.old
ExecStartPre=-cp -b /home/paul/myprojects/myclock/myclock.stderr \
		/home/paul/myprojects/myclock/myclock.stderr.old

#ExecStartPre=-rm /home/paul/myprojects/myclock/myclock.stdout
#ExecStartPre=-rm /home/paul/myprojects/myclock/myclock.stderr

# ExecStart for virtual env
ExecStart=/bin/bash -c "${HOME}/.virtualenvs/myclock/bin/python -u\
	 ${HOME}/myprojects/myclock/myclock.py -b 0"

# ExecStart for non virtual env
#ExecStart=/usr/bin/python -u\
#	 ${HOME}/myprojects/myclock/myclock.py -b 0"

# Define stdout and stderr
StandardOutput=truncate:/home/paul/myprojects/myclock/myclock.stdout
StandardError=truncate:/home/paul/myprojects/myclock/myclock.stderr

[Install]
WantedBy=multi-user.target
