# uses systemd-time-wait-sync.service 
#sudo systemctl enable systemd-time-wait-sync.service
#sudo systemctl start systemd-time-wait-sync.service
[Unit]
Description=Start myclockwaiting service early
After=network-online.target 
Wants=network-online.target

#Before=myclock.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
#StartLimitIntervalSec=60
StartLimitBurst=5

User=paul

WorkingDirectory=/home/paul/myprojects/myclock

Environment="HOME=/home/paul"
Environment="PATH=/home/paul/.virtualenvs/myclock/bin:/home/paul/bin"

ExecStartPre=-/bin/rm /home/paul/myprojects/myclock/myclockwaiting.stdout
ExecStartPre=-/bin/rm /home/paul/myprojects/myclock/myclockwaiting.stderr

ExecStart=/home/paul/.virtualenvs/myclock/bin/python -u /home/paul/myprojects/myclock/myclockwaiting.py

StandardOutput=journal+file:/home/paul/myprojects/myclock/myclockwaiting.stdout
StandardError=journal+file:/home/paul/myprojects/myclock/myclockwaiting.stderr

[Install]
WantedBy=multi-user.target
